@import url('/src/assets/styles/App.css');

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 16px 0 var(--color-dark-gray);
    animation: show-navigation 5s ease-out;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: var(--nav-height);
}
nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 1.2rem;
    color: var(--color-black);
}
nav li:hover {
    border-bottom: 6px solid var(--color-cerulean);
    padding-top: 6px;
    #nav-logo {
        animation: nav-logo-animation 1s ease-in-out;
    }
}
nav li:first-child {
    margin-right: auto;

}
#nav-logo {
    fill: var(--font-color);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    #nav-svg-logo {
        height: 36px;
        width: 36px;
    }
}
nav li.active {
    background: var(--color-midnight);
}

@keyframes show-navigation {
    0% {
        opacity: 0;
        display: none;
    }
    70% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
    }
}
@keyframes nav-logo-animation {
    0% {
        rotate: 0 0 0 60deg;
    }
    100% {
        rotate: 1 0 1 360deg;
    }
}
