@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /* google fonts -> standard font for this website */
    color-scheme: light;
    background: var(--color-platinum);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    --color-cerulean: #016886;
    --color-midnight: #015F7A;
    --color-dark-midnight: #194855;
    --color--light-black: #303030;
    --color-dark-gray: #444343;
    --color-gray: #555454;
    --color-light-gray: #9E9D9D;
    --color-platinum: #E6E6E6;
    --color-light-blue: #c5fdf5;

    --background-color: var(--color-platinum);
    --font-color: var(--color-dark-gray);
    --title-color: var(--color-cerulean);
    --gradient-background: linear-gradient(to bottom right, var(--color-midnight), var(--color-light-blue));
    --logo-color: var(--color-midnight);
    --logo-font-color: var(--color-midnight);

    --radio-color: var(--color-light-gray)
}

[color-theme="dark"] {
    --background-color: var(--color-dark-gray);
    --font-color: var(--color-platinum);
    --title-color: var(--color-cerulean);
    --gradient-background: linear-gradient(to bottom right, var(--color-dark-midnight), var(--color-midnight), var(--color-dark-gray));
    --logo-color: var(--color-platinum);
    --logo-font-color: var(--color-platinum);

    color-scheme: dark;
    background: var(--color-dark-gray);
}

[color-theme="colored"] {
    --background-color: var(--gradient-background);
    --font-color: var(--color-dark-gray);
    --title-color: var(--color-cerulean);
    --gradient-background: linear-gradient(to bottom right, var(--color-midnight), var(--color-light-blue));
    --logo-color: var(--color-midnight);
    --logo-font-color: var(--color-midnight);

    color-scheme: light;
    background: var(--gradient-background);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    height: 100vh;
}
