@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /* colors */
    --color-cerulean: #016886;
    --color-midnight: #015F7A;
    --color-dark-midnight: #194855;
    --color-black: #000000;
    --color-dark-black: #1e1e1e;
    --color-light-black: #303030;
    --color-dark-gray: #444343;
    --color-gray: #555454;
    --color-gray-transparent: #55545430;
    --color-light-gray: #9E9D9D;
    --color-platinum: #E6E6E6;
    --color-light-blue: #c5fdf5;
    --color-white: #ffffff;

    /* color vars */
    --background-color: var(--color-platinum);
    --font-color: var(--color-black);
    --title-color: var(--color-cerulean);
    --loader-gradient-background: linear-gradient(to bottom right, var(--color-midnight), var(--color-light-blue));
    --gradient-background: linear-gradient(to bottom right, var(--color-white), var(--color-platinum));
    --gradient-background-opacity: linear-gradient(to bottom right, #ffffff20, #E6E6E620);
    --logo-color: var(--color-midnight);
    --logo-font-color: var(--color-midnight);
    --radio-color: var(--color-light-gray);
    --text-hover-color: var(--color-midnight);

    /* page styles */
    --nav-height: 60px;
    --footer-div-height: 20rem;

    /* google fonts -> standard font for this website */
    color-scheme: light;
    height: 100%;
    width: 100%;
    background: var(--gradient-background);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    scroll-behavior: smooth;
}

/* dark-theme-colors*/
[color-theme="dark"] {
    --background-color: var(--color-dark-gray);
    --font-color: var(--color-white);
    --title-color: var(--color-cerulean);
    --loader-gradient-background: linear-gradient(to bottom right, var(--color-midnight), var(--color-light-blue));
    --gradient-background: linear-gradient(to bottom right, var(--color-dark-gray), var(--color-light-black));
    --gradient-background-opacity: linear-gradient(to bottom right, #ffffff20, #E6E6E620);
    --logo-color: var(--color-platinum);
    --logo-font-color: var(--color-platinum);
    --radio-color: var(--color-light-gray);
    --text-hover-color: var(--color-cerulean);

    color-scheme: dark;
    background: var(--gradient-background);
}

/* colored-theme-colors*/
[color-theme="colored"] {
    --background-color: var(--color-midnight);
    --font-color: var(--color-black);
    --title-color: var(--color-cerulean);
    --loader-gradient-background: linear-gradient(to bottom right, var(--color-midnight), var(--color-light-blue));
    --gradient-background: linear-gradient(to bottom right, var(--color-midnight), var(--color-light-blue));
    --gradient-background-opacity: linear-gradient(to bottom right, #ffffff20, #E6E6E620);
    --logo-color: var(--color-platinum);
    --logo-font-color: var(--color-platinum);
    --radio-color: var(--color-light-gray);
    --text-hover-color: var(--color-midnight);


    color-scheme: light;
    background: var(--gradient-background);
}

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
#root {
    background: var(--gradient-background);
}
img, picture, svg, video {
    display: block;
    max-width: 100%;
}
#home {
    height: 100vh;
}
#about {
    min-height: 100vh;
}
#portfolio {
    min-height: 100vh;
}
.page-section {
    padding-top: var(--nav-height);
}
.section-title-div {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    h1 {
        font-size: 3rem;
        font-weight: 100;
        letter-spacing: 7px;
    }
}
