@import url('/src/assets/styles/App.css');

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;

    width: 100%;
    .career-image {
        position: sticky;
        bottom: 0;
        top: 100px;
        flex: 1;
        height: 100%;
        width: 450px;
        border-radius: 30px;
        object-fit: cover;
        box-shadow: 8px 8px var(--box-shadow-color);
    }
    .cards {
        flex: 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }
}

.card {
    backdrop-filter: blur(50px);
    border-radius: 30px;
    min-width: 250px;
    max-width: 350px;
    height: 500px;
    background: var(--background-color-transparent);
    box-shadow: 8px 8px var(--box-shadow-color);
}
.card-image-div {
    border-radius: 30px;
    height: 300px;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 2px 0 var(--box-shadow-color);
    img {
        height: 250px;
        max-width: 80%;
        object-fit: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: 300ms;
    }
}
.card-image-div:hover {
    img {
        transform: translate(-50%,-50%) scale(1.2);
    }
}
.card-description {
    white-space: pre-line;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    .card-title {
        font-size: 1.3rem;
        font-weight: 200;
        letter-spacing: 4px;
    }
    .card-text {
        overflow-wrap: break-word;
    }
}
